:root {
  --primary-color: #ff900e;
  --secondary-color: #6c757d;
  --background-primary-color: rgba(255, 144, 14, 0.1);
  --background-secondary-color: #fff4e7;
  --white-color: #fff;
  --font-dark-color: #131313;
  --font-dark-color-2: #424242;
  --font-dark-color-3: #727272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Work Sans", serif;
  background-color: #fff;
}

/* Global Class */

.container {
  max-width: 1440px;
  margi: 0 auto;
  padding: 0 20px;
}

.brand {
  font-size: 2.8125rem; /* 45px to rem */
  font-weight: 900;
  line-height: 53px;
  color: var(--font-dark-color);
}

@media screen and (max-width: 540px) {
  .brand {
    font-size: 1.8rem;
    line-height: 42px;
  }
}

header {
  padding-top: 50px;
  background-color: var(--background-primary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--font-dark-color-2);
  font-size: 1.125rem; /* 18px to rem */
  font-weight: 500;
  line-height: 1.625rem; /* 26px to rem */
  transition: all 0.3s;
}

@media screen and (max-width: 540px) {
  a {
    font-size: 1rem; /* 16px to rem */
    line-height: 1.5rem; /* 24px to rem */
  }
}

a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 540px) {
  .nav-links {
    gap: 1.2rem;
  }
}

/* Hero Section */
.hero {
  margin-top: 116px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .hero {
  margin-top: 80px;
    flex-direction: column-reverse;
    gap: 25px;
  }
}

.hero-text {
  text-align: center;
}


h1 {
  font-weight: 700;
  font-size: 4rem; /* 64px to rem */
  line-height: 4.6875rem; /* 75px to rem */
  text-align: center;
  /* Dark 01 */
  color: var(--font-dark-color);
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.125rem; /* 50px to rem */
  }
}

.hero-text p {
  margin-top: 28px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem; /* 16px to rem */
  line-height: 1.625rem; /* 26px to rem */
  text-align: center;
  color: var(--font-dark-color-3); /* Dark 03 */
}

.btn-primary {
  display: inline-block;
  margin: 32px auto 50px;
  padding: 20px 25px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 8px;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #ffa63e;
  color: var(--font-dark-color-2);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
